*,*:before,*:after{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.container{
    display: grid;
    /* Explicit Grid */
    /* grid-template-columns: 300px 600px; */
    grid-auto-flow: column;
    grid-template-rows: 1fr 2fr;
    grid-auto-columns: 300px;
    gap: 20px;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
    font-size: 2fr;
}