html {
  box-sizing: border-box;
  font-size: 3em;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.navbar{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgb(54, 63, 74);
  color: white;
  font-size: 0.5em;
}

.table{
  position: relative;
  margin: 0 auto;
  border-spacing: 0;
}

.table__header{
  background-color: lightblue;
}

.table__header--name{
  font-size: 0.5em;
}
.table__row{
 background-color: white;
 height: 1em;
 width: 2em;
 font-size: 0.5em;
}
.table__row .valid{
  background-color: green;
}

.table__row .invalid{
  background-color: red;
}